In [ ]:
-- Create Table --
CREATE TABLE customers (
	customer_id SERIAL PRIMARY KEY,
	customer_name VARCHAR (50),
	city VARCHAR (20)
);

CREATE TABLE orders (
	order_id SERIAL PRIMARY KEY,
	customer_id INTEGER REFERENCES customers (customer_id),
	order_date DATE,
	total_amount FLOAT
);

-- Insert Tables Value for Customers --
INSERT INTO customers (customer_name, city)
VALUES
	('John Doe', 'New York'),
	('Jane Smith', 'Los Angles'),
	('David Johnson', 'Chicago');
	
-- Insert Tables Value for Orders --
INSERT INTO orders (customer_id, order_date, total_amount)
VALUES
	(1,'2022-01-10', 100.00),
	(1,'2022-02-15', 150.00),
	(2,'2022-03-20', 200.00),
	(3,'2022=04-25', 50.00);

-- Merging Orders and Customers Table --
ALTER TABLE orders
	ADD COLUMN customer_name VARCHAR (50);
-- Update column --
ALTER TABLE orders
	ADD FOREIGN KEY (customer_name) REFERENCES customers (customer_name);
	SET customer_name REFERENCES customers (customer_name);

--Left Join menggunakan customer_id--

SELECT customers.customer_name, COUNT(orders.order_id) AS total_order
FROM customers
LEFT JOIN orders ON customers.customer_id = orders.customer_id
GROUP BY customers.customer_name;